# Frontend environment variables
# Copy this file to .env.local
NODE_ENV=development
NEXT_PUBLIC_APP_NAME=MyAPP
NEXT_PUBLIC_APP_VERSION=V1
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3002
NEXT_PUBLIC_RECAPTCHA_PROVIDER=google-recaptcha
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=google-recaptcha
